# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=budget_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Actual Budget
ACTUAL_BASE_URL=http://actual_budget:5006
ACTUAL_DEFAULT_PASSWORD=secret

# JWT
JWT_SECRET=super-secret-jwt-key-7133351898
JWT_EXPIRES_IN=7d
TELEGRAM_BOT_TOKEN=8883415033:...
ACTUAL_SERVER_URL=https://actual-budget.msytc.my.id:5006
ACTUAL_PASSWORD=Refurn...
ACTUAL_SYNC_ID=budget_7133351898
